{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "no-console": "off",
    "semi": "warn",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/display-name": "off",
    "react/jsx-key": "warn",
    "@typescript-eslint/explicit-member-accessibility": "warn",
    "@typescript-eslint/interface-name-prefix": "off",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ],

    "@typescript-eslint/camelcase": [
      "error",
      {
        "allow": [
          "^UNSAFE_",
          "child_process",
          "drop_debugger",
          "drop_console",
          "keep_classnames",
          "keep_fnames"
        ]
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        // 变量声明中的数组及对象解构
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        // 赋值表达式的数组及对象解构，赋值使用解构代码不易读
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        // 强制属性重命名
        "enforceForRenamedProperties": false
      }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/media-has-caption": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-extraneous-dependencies": "off",
    "no-restricted-syntax": "off",
    "no-unused-expressions": "off",
    "import/no-unresolved": "off",
    "react/destructuring-assignment": "warn",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/prefer-stateless-function": "off",
    // 使用 TS 无需使用 prop-types
    "react/prop-types": "off",
    "prettier/prettier": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"],
        "map": [
          ["@", "./src"],
          ["src", "./src"],
          ["assets", "./src/assets"],
          ["utils", "./src/utils"],
          ["pages", "./src/pages"],
          ["components", "./src/components"]
        ]
      }
    }
  }
}
